<div class="pb-3 pt-5" style="background-image:url('/assets/bg-footer.jpg');" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5 class="fw-bold">About</h5>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>

                <div class="foot-media">
                    <p><i class="bi bi-twitter fs-4"></i></p>
                    <p><i class="bi bi-facebook fs-4"></i></p>
                    <p><i class="bi bi-instagram fs-4"></i></p>
                </div>
            </div>
            <div class="col-md-3 px-3">
                <h5 class="fw-bold px-md-5">Setting</h5>
                <ul class="list-unstyled px-md-5">
                    <li>Home</li>
                    <li>About</li>
                    <li>Booking</li>
                    <li>Service</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 class="fw-bold">Information</h5>
                <ul class="list-unstyled">
                    <li>Online Enquiry</li>
                    <li>Term & Condition</li>
                    <li>Booking Policy</li>
                    <li>Privacy & Policy</li>
                </ul>
            </div>
            <div class="col-md-3 foot-loc">
                <h5 class="fw-bold">Location</h5>
                <p><i class="bi bi-geo-alt-fill pe-1"></i>
                    1/10, Nehru Nagar, Coimbatore, Tamilnadu, India
                </p>
                <p><i class="bi bi-telephone-fill pe-1"></i>
                    +91 9876501234
                </p>
                <p><i class="bi bi-envelope-fill pe-1"></i> trip@gmail.com</p>
            </div>
        </div>
        <hr>
        <p class="text-center">Copyright ©2025 All rights reserved | This template is made by Pacific Trip.</p>
    </div>