<div class="row mt-4">
  <h3 class="mb-4">Welcome to Dashboard!</h3>
  <div class="col-md-3">
    <div class="card bg-primary text-white">
      <div class="card-body">
        <h5>Total Users</h5>
        <h2>{{ totalUsers }}</h2>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card bg-info text-white">
      <div class="card-body">
        <h5>Total Booking</h5>
        <h2>{{ totalBookings }}</h2>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card bg-success text-white">
      <div class="card-body">
        <h5>Booking Status</h5>
        <h2>{{ totalBookings }}</h2>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card bg-warning text-white">
      <div class="card-body">
        <h5>People Online</h5>
        <h2>{{ totalUsers }}</h2>
      </div>
    </div>
  </div>
</div>